<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.cubrid.cubridmanager.app.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.cubrid.cubridmanager.app.application"
            name="CUBRID Manager">
         <property
               name="appName"
               value="CUBRID Manager">
         </property>
         <property
               name="aboutImage"
               value="icons/cubridmanager16.gif">
         </property>
         <property
               name="windowImages"
               value="icons/cubridmanager16.gif,icons/cubridmanager32.gif,icons/cubridmanager48.gif,icons/cubridmanager64.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspectiveName"
            class="com.cubrid.cubridmanager.app.Perspective"
            id="com.cubrid.cubridmanager.app.Perspective">
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.views">
      <view
        class="org.eclipse.ui.ExtensionFactory:progressView"
        id="org.eclipse.ui.views.ProgressView"
        icon="icons/progress.gif"
        name="Progress"/>
	</extension>
    <extension
         point="org.eclipse.ui.views">
      <category
            id="com.cubrid.cubridmanager.ui.view.category"
            name="%viewCategory"/>
      <view
            allowMultiple="false"
            category="com.cubrid.cubridmanager.ui.view.category"
            name="%navigatorViewName"
            icon="icons/host.png"
            class="com.cubrid.cubridmanager.app.CubridAppNavigatorView"
            id="com.cubrid.cubridmanager.app.CubridAppNavigatorView">
      </view>
    </extension>
   <extension
          point="org.eclipse.ui.preferencePages">
       <page
             category="com.cubrid.cubridmanager.ui.common.dialog.GeneralPreferenceDialog"
             class="com.cubrid.cubridmanager.app.GeneralPreferencePage"
             id="com.cubrid.cubridmanager.ui.common.dialog.general"
             name="%prefTitleGeneral">
       </page>
    </extension>
   <extension
            point="org.eclipse.ui.editors">
         <editor
         	   id="com.cubrid.cubridmanager.app.CubridNewInfoEditorPart"
               class="com.cubrid.cubridmanager.app.CubridNewInfoEditorPart"
               default="false"
               icon="icons/new_info.png"
               name="%cubridInfoEditor">
         </editor>
    </extension>
</plugin>
