<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.help.toc"
        >
      <toc
            file="quickExample.xml"
            primary="true">
      </toc>        
      <toc
            file="cubridmanager.xml"
            primary="true" >
      </toc>      
      <toc
            file="cubridManual.xml"
            primary="true">
      </toc>
   </extension>
    <extension
          point="org.eclipse.help.contexts">
       <contexts
             file="dynamicHelp.xml">
       </contexts>
    </extension> 
</plugin>
