#Tue Apr 28 09:48:56 CST 2009
autotestsuite.class.exclusions=.*All(Test|Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.features=com.cubrid.cubridmanager.feature,com.cubrid.cubridmanager.testfeature
pluginbuilder.is.svn=true
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=true
autotestsuite.plugin.inclusions=.*(testfragment|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=true
