#
#
#  Copyright 2016 CUBRID Corporation
# 
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
# 
#       http://www.apache.org/licenses/LICENSE-2.0
# 
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
# 

# assign reviewers about all files

# NOTE:
# this is the contents of the file for the LETS `scalability_dev` feature branch;
# it is much different from the `develop` branch and it is only added as such to prevent
# accidental assign as reviewer for PR for people not [yet] involved with the project;

# required default reviewer
/src/base/ @wrlawodms @joohok @hornetmj @cristiarg
/src/base/memory_monitor_* @wrlawodms @joohok @hornetmj @cristiarg
/src/broker/ @hornetmj
/src/cm_common/ @wrlawodms @joohok @hornetmj @cristiarg
/src/compat/ @wrlawodms @joohok @hornetmj @cristiarg
/src/jsp/ @wrlawodms @joohok @hornetmj @cristiarg
/src/method/ @wrlawodms @joohok @hornetmj @cristiarg
/src/optimizer/ @wrlawodms @joohok @hornetmj @cristiarg
/src/parser/ @wrlawodms @joohok @hornetmj @cristiarg
/src/parser/view_transform.* @wrlawodms @joohok @hornetmj @cristiarg
/src/query/ @wrlawodms @joohok @hornetmj @cristiarg
/src/query/query_executor.* @wrlawodms @joohok @hornetmj @cristiarg
/src/query/query_hash_scan.* @wrlawodms @joohok @hornetmj @cristiarg
/src/query/scan_manager.* @wrlawodms @joohok @hornetmj @cristiarg
/src/query/vacuum.* @wrlawodms @joohok @hornetmj @cristiarg
/src/storage/ @wrlawodms @joohok @hornetmj @cristiarg
/src/storage/statistics* @wrlawodms @joohok @hornetmj @cristiarg
/src/transaction/ @wrlawodms @joohok @hornetmj @cristiarg
/src/win_tools/ @wrlawodms @joohok @hornetmj @cristiarg
/src/xasl/ @wrlawodms @joohok @hornetmj @cristiarg
