[submodule "cubridmanager"]
	path = cubridmanager
	url = https://github.com/CUBRID/cubrid-manager-server
	branch = develop
[submodule "cubrid-jdbc"]
	path = cubrid-jdbc
	url = https://github.com/cubrid/cubrid-jdbc
	branch = feature/javasp_redesign
[submodule "cubrid-cci"]
	path = cubrid-cci
	url = https://github.com/CUBRID/cubrid-cci.git
	branch = develop
