[submodule "cubridmanager"]
	path = cubridmanager
	url = https://github.com/CUBRID/cubrid-manager-server
	branch = develop
[submodule "cubrid-jdbc"]
	path = cubrid-jdbc
	url = https://github.com/cubrid/cubrid-jdbc
	branch = develop
