<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="realmfactory" name="%realmfactory" schema="schema/org.eclipse.tomcat.realmfactory.exsd"/>

     <extension
         id="appserver"
         name="%appserver"
         point="org.eclipse.help.appserver.server">
      <server
            default="true"
            class="org.eclipse.tomcat.internal.TomcatAppServer">
      </server>
   </extension>

</plugin>
