<?xml version="1.0"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="cubridmanager.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="cubridmanager.Perspective"
            fixed="false"
            id="cubridmanager.perspective"
            name="Cubridmanager Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%VIEW.SERVER"
            icon="icons/host.png"
            class="cubridmanager.cubrid.view.CubridView"
            id="navigator.server">
      </view>
      <view
            class="cubridmanager.cas.view.CASView"
            icon="icons/cas.png"
            id="navigator.cas"
            name="%VIEW.CAS"/>
      <view
            class="cubridmanager.diag.view.DiagView"
            icon="icons/diag.png"
            id="navigator.diagnose"
            name="%VIEW.DIAG"/>
      <view
            class="cubridmanager.WorkView"
            icon="icons/server.png"
            id="cubridmanager.workview"
            name="WorkView"/>
      <view
            allowMultiple="true"
            class="cubridmanager.cubrid.view.DatabaseListInHost"
            icon="icons/host.png"
            id="workview.DatabaseListInHost"
            name="%VIEW.DATABASELISTINHOST"/>
      <view
            allowMultiple="true"
            class="cubridmanager.cubrid.view.DatabaseStatus"
            icon="icons/host.png"
            id="workview.DatabaseStatus"
            name="%VIEW.DATABASESTATUS"/>
      <view
            allowMultiple="true"
            class="cubridmanager.cubrid.view.DBLogs"
            icon="icons/dblogs.png"
            id="workview.DBLogs"
            name="%VIEW.DBLOGS"/>
      <view
            allowMultiple="true"
            class="cubridmanager.cubrid.view.DBSchema"
            icon="icons/schema.png"
            id="workview.DBSchema"
            name="%VIEW.DBSCHEMA"/>
      <view
            allowMultiple="true"
            class="cubridmanager.cubrid.view.DBSpace"
            icon="icons/dbspace.png"
            id="workview.DBSpace"
            name="%VIEW.DBSPACE"/>
      <view
            allowMultiple="true"
            class="cubridmanager.cubrid.view.DBTriggers"
            icon="icons/trigger.png"
            id="workview.DBTriggers"
            name="%VIEW.DBTRIGGERS"/>
      <view
            allowMultiple="true"
            class="cubridmanager.cubrid.view.DBUsers"
            icon="icons/dbuser.png"
            id="workview.DBUsers"
            name="%VIEW.DBUSERS"/>
      <view
            allowMultiple="true"
            class="cubridmanager.cubrid.view.JobAutomation"
            icon="icons/jobauto.png"
            id="workview.JobAutomation"
            name="%VIEW.JOBAUTOMATION"/>
      <view
            allowMultiple="true"
            class="cubridmanager.cubrid.view.LocalDBList"
            icon="icons/ldb.png"
            id="workview.LocalDBlist"
            name="%VIEW.LOCALDBLIST"/>
      <view
            allowMultiple="true"
            class="cubridmanager.cubrid.view.SqlxinitEditor"
            icon="icons/sqlxinit.png"
            id="workview.SqlxinitEditor"
            name="%VIEW.SQLXINIT"/>
      <view
            allowMultiple="true"
            class="cubridmanager.query.view.QueryEditor"
            icon="icons/queryedit_16.png"
            id="workview.QueryEditor"
            name="%VIEW.QUERYEDIT"/>
      <view
            allowMultiple="true"
            class="cubridmanager.cas.view.BrokerList"
            icon="icons/cas.png"
            id="workview.BrokerList"
            name="%VIEW.BROKERLIST"/>
      <view
            allowMultiple="true"
            class="cubridmanager.cas.view.BrokerStatus"
            icon="icons/broker.png"
            id="workview.BrokerStatus"
            name="%VIEW.BROKERSTATUS"/>
      <view
            allowMultiple="true"
            class="cubridmanager.cas.view.CASLogs"
            icon="icons/logs.png"
            id="workview.CASLogs"
            name="%VIEW.CASLOGS"/>
      <view
            allowMultiple="true"
            class="cubridmanager.diag.view.Diagnose"
            icon="icons/diag.png"
            id="workview.Diagnose"
            name="%VIEW.DIAGNOSE"/>
      <view
            allowMultiple="true"
            class="cubridmanager.diag.view.Events"
            icon="icons/event.png"
            id="workview.Events"
            name="%VIEW.EVENTS"/>
      <view
            allowMultiple="true"
            class="cubridmanager.diag.view.LogAnalyze"
            icon="icons/logs.png"
            id="workview.LogAnalyze"
            name="%VIEW.LOGANALYZE"/>
      <view
            allowMultiple="true"
            class="cubridmanager.diag.view.ActivityLogs"
            icon="icons/activity_logs.png"
            id="workview.ActivityLogs"
            name="%VIEW.ACTIVITYLOGS"/>
      <view
            allowMultiple="true"
            class="cubridmanager.diag.view.ActivityTemplate"
            icon="icons/activity_template.png"
            id="workview.ActivityTemplate"
            name="%VIEW.ACTIVITYTEMPLATE"/>
      <view
            allowMultiple="true"
            class="cubridmanager.diag.view.StatusWarning"
            icon="icons/event_warning.png"
            id="workview.StatusWarning"
            name="%VIEW.STATUSWARNING"/>
      <view
            allowMultiple="true"
            class="cubridmanager.diag.view.StatusLogs"
            icon="icons/event_logs.png"
            id="workview.StatusLogs"
            name="%VIEW.STATUSLOGS"/>
      <view
            allowMultiple="true"
            class="cubridmanager.diag.view.StatusTemplate"
            icon="icons/event_template.png"
            id="workview.StatusTemplate"
            name="%VIEW.STATUSTEMPLATE"/>
      <view
            allowMultiple="true"
            class="cubridmanager.diag.view.DiagSub"
            icon="icons/diagnose.png"
            id="workview.DiagSub"
            name="%VIEW.DIAGSUB"/>
      <view
            allowMultiple="true"
            class="cubridmanager.diag.view.DiagTemplate"
            icon="icons/diagnose_template.png"
            id="workview.DiagTemplate"
            name="%VIEW.DIAGTEMPLATE"/>
      <view
            allowMultiple="true"
            class="cubridmanager.diag.view.DiagReport"
            icon="icons/diagnose_report.png"
            id="workview.DiagReport"
            name="%VIEW.DIAGREPORT"/>
      <view
            allowMultiple="true"
            class="cubridmanager.diag.view.ServiceReport"
            icon="icons/report.png"
            id="workview.ServiceReport"
            name="%VIEW.SERVICEREPORT"/>
      <view
            allowMultiple="true"
            class="cubridmanager.cas.view.BrokerJob"
            icon="icons/broker.png"
            id="workview.BrokerJob"
            name="%VIEW.BROKERJOB"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="cubridmanager.application"
            name="Cubrid Manager">
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="aboutImage"
               value="icons/cubridmanager16.gif"/>
         <property
               name="windowImages"
               value="icons/cubridmanager16.gif,icons/cubridmanager32.gif"/>
         <property
               name="appName"
               value="Cubrid Manager">
         </property>
      </product>
   </extension>
</plugin>
