<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
            point="org.eclipse.ui.editors">
         <editor
         	   id="com.cubrid.cubridmanager.ui.query.editor.QueryEditorPart"
               class="com.cubrid.cubridmanager.ui.query.editor.QueryEditorPart"
               default="false"
               icon="icons/queryeditor/query_editor.png"
               name="%queryEditorName">
         </editor>
         <editor
         	   id="com.cubrid.cubridmanager.ui.logs.editor.LogEditorPart"
               class="com.cubrid.cubridmanager.ui.logs.editor.LogEditorPart"
               default="false"
               icon="icons/navigator/log_item.png"
               name="%logEditorName">
         </editor>
         <editor
         	   id="com.cubrid.cubridmanager.ui.cubrid.database.editor.DatabaseStatusEditor"
               class="com.cubrid.cubridmanager.ui.cubrid.database.editor.DatabaseStatusEditor"
               default="false"
               icon="icons/navigator/volume_group.png"
               name="%dbStatusEditorName">
         </editor>
         <editor
               class="com.cubrid.cubridmanager.ui.cubrid.dbspace.editor.VolumeInformationEditor"
               default="false"
               icon="icons/navigator/volume_item.png"
               id="com.cubrid.cubridmanager.ui.cubrid.dbspace.editor.VolumeInformationEditor"
               name="%volInfoEditorName">
         </editor>
         <editor
               class="com.cubrid.cubridmanager.ui.cubrid.dbspace.editor.VolumeFolderInfoEditor"
               default="false"
               icon="icons/navigator/volume_group.png"
               id="com.cubrid.cubridmanager.ui.cubrid.dbspace.editor.VolumeFolderInfoEditor"
               name="%volInfoEditorName">
         </editor>
         <editor
               class="com.cubrid.cubridmanager.ui.cubrid.table.editor.SchemaEditor"
               default="false"
               icon="icons/navigator/schema_view.png"
               id="com.cubrid.cubridmanager.ui.cubrid.table.editor.SchemaEditor"
               name="%schemaEditorName">
         </editor>
         <editor
               class="com.cubrid.cubridmanager.ui.cubrid.user.editor.UserEditor"
               default="false"
               icon="icons/navigator/volume_group.png"
               id="com.cubrid.cubridmanager.ui.cubrid.user.editor.UserEditor"
               name="%userEditorName">
         </editor>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             category="com.cubrid.cubridmanager.ui.query.dialog.QueryOptionsDialog"
             class="com.cubrid.cubridmanager.ui.query.dialog.QueryOptionPreferencePage"
             id="com.cubrid.cubridmanager.ui.queryoption"
             name="%queryOptionPageName">
       </page>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <category
            id="com.cubrid.cubridmanager.ui.view.category"
            name="%viewCategory"/>
       <view
       		   category="com.cubrid.cubridmanager.ui.view.category"
               allowMultiple="false"
         	   id="com.cubrid.cubridmanager.ui.monitoring.editor.StatusMonitorViewPart"
               class="com.cubrid.cubridmanager.ui.monitoring.editor.StatusMonitorViewPart"
               icon="icons/navigator/status_item.png"
               name="%statusMonitorViewName">
       </view>
       <view
               category="com.cubrid.cubridmanager.ui.view.category"
               class="com.cubrid.cubridmanager.ui.broker.editor.BrokerEnvStatusView"
               icon="icons/navigator/broker_group.png"
               id="com.cubrid.cubridmanager.ui.broker.editor.BrokerEnvStatusView"
               name="%brokersStatusViewName">
        </view>
        <view
               category="com.cubrid.cubridmanager.ui.view.category"
               class="com.cubrid.cubridmanager.ui.broker.editor.BrokerStatusView"
               icon="icons/navigator/broker.png"
               id="com.cubrid.cubridmanager.ui.broker.editor.BrokerStatusView"
               name="%brokerStatusViewName">
        </view>
        <view
               category="com.cubrid.cubridmanager.ui.view.category"
               class="com.cubrid.cubridmanager.ui.query.editor.SchemaView"
               icon="icons/navigator/schema_view.png"
               id="com.cubrid.cubridmanager.ui.query.editor.SchemaView"
               name="%schemaViewName">
        </view>
    </extension>
</plugin>
