<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspectiveName"
            class="com.cubrid.cubridmanager.plugin.Perspective"
            id="com.cubrid.cubridmanager.plugin.Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.cubrid.cubridmanager.ui.view.category"
            name="%viewCategory"/>
      <view
            allowMultiple="false"
            category="com.cubrid.cubridmanager.ui.view.category"
            name="%navigatorViewName"
            icon="icons/host.png"
            class="com.cubrid.cubridmanager.plugin.CubridPluginNavigatorView"
            id="com.cubrid.cubridmanager.plugin.CubridPluginNavigatorView">
      </view>
   </extension>
</plugin>
