#!/usr/bin/make -f

include debian/rules.defs

%:
	dh $@ 

override_dh_auto_configure:
	./autogen.sh
	./configure $(configure_deps)

override_dh_auto_install:
	make prefix=$(CURDIR)/debian/cubrid/opt/cubrid install
