/BooleanValue.class
/ByteValue.class
/DateValue.class
/DatetimeValue.class
/DoubleValue.class
/FloatValue.class
/IntValue.class
/LongValue.class
/NullValue.class
/NumericValue.class
/OidValue.class
/ResultSetValue.class
/SetValue.class
/ShortValue.class
/StringValue.class
/TimeValue.class
/TimestampValue.class
/Value.class
