
-- cache class
create class cache_tbl;

-- meta attributes
alter class cache_tbl add class attribute server_list string;
alter class cache_tbl add class attribute behavior string;

update class cache_tbl set server_list='##server_list##';
update class cache_tbl set behavior='##behavior##';

-- cubmemc_strerror ()
alter class cache_tbl add
  method class cubmemc_strerror (INTEGER)
  STRING
  function cubmemc_strerror
  FILE '##libcubmemc_path##'

-- cubmemc_get_string ()
alter class cache_tbl add 
  method class cubmemc_get_string (STRING)
  STRING
  function cubmemc_get_string
  FILE '##libcubmemc_path##'

-- cubmemc_get_binary ()
alter class cache_tbl add 
  method class cubmemc_get_binary (STRING)
  BIT VARYING
  function cubmemc_get_binary
  FILE '##libcubmemc_path##'

-- cubmemc_delete ()
alter class cache_tbl add 
  method class cubmemc_delete (STRING, INTEGER)
  INTEGER
  function cubmemc_delete
  FILE '##libcubmemc_path##'

-- cubmemc_set ()
alter class cache_tbl add 
  method class cubmemc_set_string (STRING, STRING, INTEGER) 
  INTEGER
  function cubmemc_set
  FILE '##libcubmemc_path##'

alter class cache_tbl add 
  method class cubmemc_set_binary (STRING, BIT VARYING, INTEGER) 
  INTEGER
  function cubmemc_set
  FILE '##libcubmemc_path##'

-- cubmemc_add ()
alter class cache_tbl add 
  method class cubmemc_add_string (STRING, STRING, INTEGER) 
  INTEGER
  function cubmemc_add
  FILE '##libcubmemc_path##'

alter class cache_tbl add 
  method class cubmemc_add_binary (STRING, BIT VARYING, INTEGER) 
  INTEGER
  function cubmemc_add
  FILE '##libcubmemc_path##'

-- cubmemc_replace ()
alter class cache_tbl add 
  method class cubmemc_replace_string (STRING, STRING, INTEGER) 
  INTEGER
  function cubmemc_replace
  FILE '##libcubmemc_path##'

alter class cache_tbl add 
  method class cubmemc_replace_binary (STRING, BIT VARYING, INTEGER) 
  INTEGER
  function cubmemc_replace
  FILE '##libcubmemc_path##'


-- cubmemc_append ()
alter class cache_tbl add 
  method class cubmemc_append_string (STRING, STRING, INTEGER) 
  INTEGER
  function cubmemc_append
  FILE '##libcubmemc_path##'

alter class cache_tbl add 
  method class cubmemc_append_binary (STRING, BIT VARYING, INTEGER) 
  INTEGER
  function cubmemc_append
  FILE '##libcubmemc_path##'

-- cubmemc_prepend ()
alter class cache_tbl add 
  method class cubmemc_prepend_string (STRING, STRING, INTEGER) 
  INTEGER
  function cubmemc_prepend
  FILE '##libcubmemc_path##'

alter class cache_tbl add 
  method class cubmemc_prepend_binary (STRING, BIT VARYING, INTEGER) 
  INTEGER
  function cubmemc_prepend
  FILE '##libcubmemc_path##'

-- cubmemc_increment ()
alter class cache_tbl add 
  method class cubmemc_increment (STRING, INTEGER)
  INTEGER
  function cubmemc_increment
  FILE '##libcubmemc_path##'

-- cubmemc_decrement ()
alter class cache_tbl add 
  method class cubmemc_decrement (STRING, INTEGER)
  INTEGER
  function cubmemc_decrement
  FILE '##libcubmemc_path##'

